a01/
test_prep/
.byebug_history
.DS_STORE
appacademy.code-workspace
node_modules/
.jsbeautifyrc
.solagraph.yml
package-lock.json
package.json
.eslintrc.js
.vscode/
w10/day2/w10d2_project
w10/day1/w10d1