/* PHASE 11: Icons */
.icon-comment {
  background-position: 0 0;
}

.icon-reblog {

}

.icon-favorite {

}

[class*="icon-"] {
  background-image: url('../images/sprite.png');
  background-size: 25px 25px;
  display: inline-block;
  width: 25px;
  /* height: 25px; */
  overflow: hidden;
  padding-top: 25px;
  height: 0;
}

i[class*="icon-small"] {
  padding-top: 0px;
  height: 20px;
}