<section class="col">
  <section class="col-2-3 outer">
    <section class="col-1-3 inner">
      <h1><a href="#">Launching the New React/Redux Curriculum</a></h1>
      <h4>By APP ACADEMY INSTRUCTIONAL TEAM</h4>
      <ul>
        <li>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</li>
        <li>The whole state of your app is stored in an object tree inside a single store. The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</li>
      </ul>
      <a href="#" id="comments">1738 Comments</a>
    </section>
    <section class="col-2-3 inner">
        <div class="video-wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
        </div>
        <figcaption>Warning: This video will make you want to change your career</figcaption>
        <div class="white-line"></div>
     <h5><a href="#">Where Are They Now?</a></h5>
      <h4>By APP ACADEMY ALUMNI</h4> 
      <p>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</p>
      <div class="white-line"></div>
      <h5><a href="#">Cat Academy</a></h5>
      
      <h4>By APP ACADEMY DIRECTOR OF PRODUCTS</h4>
      <p>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p>
    </section>
  </section>
  <section class="col-1-3 outer">
    <section class="row-1">
      <h2>The Opinion Pages</h2>
    </section>
    <section class="row-2">
      <section class="col-1-2 inner">
        <h3>Op-Ed Contributor</h3>
        <h5>Will Javascript ever be as easy as Ruby?</h5>
        <p>Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>

        <ul id="bold-list">
          
          <li>Torvalds: When I Was Almost Wrong</li>
          <li>Knuth: Art of Programming</li>
          <li>Lovelace: The First Algorithm</li>
          <li>Hopper: The First Bug</li>
          <li>Thompson: Go C Unix</li>
          <li>Carmack: My Virtual Reality</li>
          <li>Stallman: Free Speech Not Free Coffee</li>
        </ul>
      </section>
      <section class="col-1-2 inner">
        <h3>Operations</h3>
        <h5>App Academy New York Has A Brand New Office</h5>
        <h4>By NY OPERATIONS</h4>
        
        <p>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>
        <div class="thumbnail">
          <%= image_tag 'new_office' %>
        </div>
        <h5>Opinion Today, in your Inbox</h5>
        <p>Each weekday, get though-provoking commentary from our columnists and contributors.</p>
      </section>
    </section>
    <section class="row-3">
      <form action="#">
        <input type="text" placeholder="Get the Opinion newsletter by email">
        <input type="submit" value="SIGN UP">
      </form>
      
      <h6>We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</h6>
    </section>
  </section>
</section>
