li[class*="disc-"] {
  height: 40px;
  background: gray;
  margin: 2px;
  border-radius: 5px;
}

.disc-1 {
  width: 40px;
}

.disc-2 {
  width: 80px;
}

.disc-3 {
  width: 120px;
}

.hanoi {
  display: flex;
}

ul {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid black;
  margin: 2%;
  padding: 0;
}
